body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-roboto: Roboto;
  --h1-main-heading: Outfit;
  --font-inter: Inter;

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-5xl: 24px;
  --h1-main-heading-size: 87px;
  --font-size-15xl: 34px;
  --font-size-mini: 15px;
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-29xl: 48px;

  /* Colors */
  --color-gray-100: #010922;
  --color-white: #fff;
  --color-cornflowerblue: #8081d8;
  --color-slateblue: rgba(99, 88, 189, 0.2);
  --color-darkslateblue: #151941;
  --color-black: #000;

  /* Paddings */
  --padding-6xs: 7px;
  --padding-5xl: 24px;

  /* Border radiuses */
  --br-3xs: 10px;
  --br-7xs: 6px;
}