.bg-circles-icon {
  position: absolute;
  height: 44.59%;
  width: 126.67%;
  top: -13.61%;
  right: -35.76%;
  bottom: 69.03%;
  left: 9.1%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.fotter-child {
  position: absolute;
  top: 133px;
  left: 0;
  background-color: var(--color-darkslateblue);
  width: 1060px;
  height: 54px;
}
.how-we-safeguard,
.your-online-activity {
  position: absolute;
  top: 0;
  left: calc(50% - 140px);
  line-height: 120%;
  font-weight: 800;
}
.your-online-activity {
  top: 18px;
  left: calc(50% - 299px);
  font-size: 32px;
}
.facebook1,
.instagram1,
.x1 {
  text-decoration: none;
  position: absolute;
  top: 146px;
  left: 951px;
  width: 32px;
  height: 27px;
  background-image: url(./public/x@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.facebook1,
.instagram1 {
  left: 908px;
  background-image: url(./public/instagram@3x.png);
}
.facebook1 {
  left: 865px;
  background-image: url(./public/facebook@3x.png);
}
.anti-net1 {
  position: absolute;
  top: 150px;
  left: 22px;
  font-size: var(--font-size-5xl);
  line-height: 120%;
  font-weight: 800;
}
.fotter-icon {
  position: absolute;
  top: 146px;
  left: 1004px;
  width: 32px;
  height: 27px;
  object-fit: cover;
}
.fotter {
  position: absolute;
  top: 3067px;
  left: 188px;
  width: 1060px;
  height: 187px;
}
.contact1,
.div,
.rinkysitgmailcom {
  position: absolute;
  top: 135px;
  left: 37.7px;
  font-size: var(--font-size-sm);
  line-height: 120%;
  font-weight: 800;
  display: inline-block;
  width: 243.7px;
}
.contact1,
.div {
  top: 168px;
  left: 38.7px;
}
.contact1 {
  top: 90px;
  left: 0;
  font-size: var(--font-size-5xl);
  width: 97.5px;
}
.more-features {
  position: relative;
  line-height: 27.5px;
}
.submit-wrapper {
  position: absolute;
  top: 463px;
  left: 819.4px;
  border-radius: var(--br-3xs);
  background-color: var(--color-cornflowerblue);
  width: 214.2px;
  height: 40px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) var(--padding-5xl);
  box-sizing: border-box;
  font-size: var(--font-size-xl);
  font-family: var(--font-roboto);
}
.contact-us {
  position: absolute;
  top: calc(50% - 251.5px);
  left: calc(50% - 108.1px);
  font-size: var(--font-size-15xl);
  line-height: 120%;
  font-weight: 800;
  display: inline-block;
  width: 190.9px;
}
.contact-child,
.contact-inner,
.contact-item {
  position: absolute;
  top: 73px;
  left: 432.6px;
  background-color: var(--color-darkslateblue);
  width: 624.4px;
  height: 54px;
}
.contact-inner,
.contact-item {
  top: 149px;
  left: 431.6px;
}
.contact-inner {
  top: 225px;
  left: 430.6px;
  height: 171px;
}
.enter-your-email,
.enter-your-message,
.enter-your-name {
  position: absolute;
  top: 90px;
  left: 446.8px;
  line-height: 120%;
  font-weight: 500;
  display: inline-block;
  width: 131px;
}
.enter-your-email,
.enter-your-message {
  top: 169px;
  width: 126.9px;
}
.enter-your-message {
  top: 243px;
  width: 156.3px;
}
.email-icon,
.phone-icon {
  position: absolute;
  top: 157px;
  left: 1px;
  width: 25px;
  height: 40px;
  object-fit: cover;
}
.email-icon {
  top: 125px;
  left: 0;
}
.contact {
  position: absolute;
  top: 2410px;
  left: 196px;
  width: 1057px;
  height: 503px;
  font-size: var(--font-size-base);
}
.more-features-wrapper {
  position: absolute;
  top: 445px;
  left: 832px;
  border-radius: var(--br-3xs);
  background-color: var(--color-cornflowerblue);
  width: 211px;
  height: 40px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) var(--padding-5xl);
  box-sizing: border-box;
  font-size: var(--font-size-xl);
  font-family: var(--font-roboto);
}
.features1 {
  position: absolute;
  top: calc(50% - 242.5px);
  left: calc(50% - 73.5px);
  font-size: var(--font-size-15xl);
  line-height: 120%;
  font-weight: 800;
}
.features-item,
.frame-child4,
.frame-child6,
.rectangle-div {
  position: absolute;
  top: 90px;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--color-darkslateblue);
  width: 255px;
  height: 272px;
}
.features-item,
.frame-child6,
.rectangle-div {
  left: 270px;
}
.frame-child6,
.rectangle-div {
  left: 540px;
}
.rectangle-div {
  left: 810px;
}
.receiving-mail-messages-via-em {
  position: absolute;
  top: 100px;
  left: 875px;
  width: 114px;
  height: 91px;
  object-fit: cover;
}
.charts-and-calculations-for-bu,
.magnifying-glass-with-files-fo,
.web-design-on-laptop-with-colo {
  position: absolute;
  top: 98px;
  left: 347px;
  width: 114px;
  height: 91px;
  object-fit: cover;
}
.charts-and-calculations-for-bu,
.web-design-on-laptop-with-colo {
  left: 606px;
}
.charts-and-calculations-for-bu {
  top: 101px;
  left: 75px;
}
.real-time-abuse-detection {
  position: absolute;
  top: 197px;
  left: 293px;
  line-height: 120%;
  font-weight: 800;
  display: inline-block;
  width: 209px;
}
.account-recreation-prevention,
.education-support,
.offenders-are-blocked,
.our-platform-actively {
  position: absolute;
  top: 197px;
  left: 549px;
  line-height: 120%;
  font-weight: 800;
  display: inline-block;
  width: 237px;
}
.education-support,
.offenders-are-blocked,
.our-platform-actively {
  top: 212px;
  left: 815px;
  width: 245px;
}
.offenders-are-blocked,
.our-platform-actively {
  top: 277px;
  left: 4px;
  font-size: var(--font-size-sm);
  width: 255px;
}
.our-platform-actively {
  left: 275px;
  width: 246px;
}
.advanced-technology-stops {
  top: 274px;
  left: 542px;
  font-size: var(--font-size-sm);
  display: inline-block;
  width: 250px;
}
.access-resources-and,
.advanced-technology-stops,
.ip-blocking {
  position: absolute;
  line-height: 120%;
  font-weight: 800;
}
.access-resources-and {
  top: 274px;
  left: 818px;
  font-size: var(--font-size-sm);
  display: inline-block;
  width: 240px;
}
.ip-blocking {
  top: 212px;
  left: 61px;
}
.features {
  position: absolute;
  top: 1786px;
  left: 187px;
  width: 1065px;
  height: 485px;
  font-size: var(--font-size-5xl);
}
.our-vision {
  top: 97px;
  left: 537px;
  line-height: 120%;
}
.our-mission,
.our-vision,
.your-safety-is {
  position: absolute;
  font-weight: 800;
}
.your-safety-is {
  height: 27.63%;
  width: 49.44%;
  top: 23.92%;
  left: 50.56%;
  font-size: 44px;
  line-height: 100%;
  text-transform: capitalize;
  font-family: var(--h1-main-heading);
  display: inline-block;
}
.our-mission {
  top: 268px;
  left: 537px;
  line-height: 120%;
}
.creating-a-safer,
.more-about-as-wrapper {
  position: absolute;
  font-family: var(--font-roboto);
}
.creating-a-safer {
  width: 49.62%;
  top: 59.38%;
  left: 50.28%;
  font-size: var(--font-size-5xl);
  line-height: 27.5px;
  font-weight: 500;
  white-space: pre-wrap;
  display: inline-block;
}
.more-about-as-wrapper {
  top: 438px;
  left: 827px;
  border-radius: var(--br-3xs);
  background-color: var(--color-cornflowerblue);
  width: 211px;
  height: 40px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) var(--padding-5xl);
  box-sizing: border-box;
  font-size: var(--font-size-xl);
}
.about1 {
  position: absolute;
  top: 24px;
  left: calc(50% - 54px);
  font-size: var(--font-size-15xl);
  line-height: 27.5px;
  font-weight: 800;
}
.social-media-platforms-and-net {
  position: absolute;
  top: 0;
  left: 0;
  width: 485px;
  height: 485px;
  object-fit: cover;
}
.about {
  position: absolute;
  top: 1140px;
  left: 192px;
  width: 1062px;
  height: 485px;
}
.were-working-with {
  position: absolute;
  top: 0;
  left: calc(50% - 167.5px);
  line-height: 27.5px;
  font-weight: 800;
}
.logos-child,
.logos-child1,
.logos-child2,
.logos-child3,
.logos-inner,
.logos-item {
  position: absolute;
  top: 86px;
  left: 0;
  background-color: var(--color-slateblue);
  width: 165px;
  height: 121px;
}
.logos-child1,
.logos-child2,
.logos-child3,
.logos-inner,
.logos-item {
  left: 180px;
}
.logos-child1,
.logos-child2,
.logos-child3,
.logos-inner {
  left: 360px;
}
.logos-child1,
.logos-child2,
.logos-child3 {
  left: 540px;
}
.logos-child2,
.logos-child3 {
  left: 720px;
}
.logos-child3 {
  left: 900px;
}
.facebook {
  position: absolute;
  top: 113px;
  left: 45px;
  width: 77px;
  height: 68px;
  background-image: url(./public/facebook1@3x.png);
}
.facebook,
.instagram,
.youtube-logo {
  text-decoration: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.instagram {
  position: absolute;
  top: 113px;
  left: 224px;
  width: 77px;
  height: 68px;
  background-image: url(./public/instagram1@3x.png);
}
.youtube-logo {
  left: 403px;
  width: 76px;
  background-image: url(./public/youtube-logo@3x.png);
}
.tiktok-icon,
.whatsapp,
.x,
.youtube-logo {
  position: absolute;
  top: 113px;
  height: 68px;
}
.x {
  text-decoration: none;
  left: 581px;
  width: 76px;
  background-image: url(./public/x1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.tiktok-icon,
.whatsapp {
  width: 77px;
}
.tiktok-icon {
  left: 759px;
  object-fit: cover;
}
.whatsapp {
  text-decoration: none;
  left: 938px;
  background-image: url(./public/whatsapp@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.logos {
  position: absolute;
  height: 5.82%;
  top: 23.46%;
  bottom: 70.72%;
  left: calc(50% - 532px);
  width: 1065px;
  font-size: var(--font-size-15xl);
}
.creating-a-safer1 {
  position: absolute;
  height: 48.11%;
  width: 49.3%;
  top: 13.64%;
  left: 0;
  line-height: 100%;
  text-transform: capitalize;
  display: inline-block;
}
.empowering-voices-silencing {
  position: absolute;
  width: 40.56%;
  top: 64.27%;
  left: 0.19%;
  font-size: var(--font-size-5xl);
  line-height: 27.5px;
  font-weight: 500;
  font-family: var(--font-roboto);
  display: inline-block;
}
.group-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-cornflowerblue);
  width: 211px;
  height: 40px;
}
.view-connections {
  position: absolute;
  height: 65%;
  width: 76.78%;
  top: 17.5%;
  left: 11.37%;
  font-size: var(--font-size-xl);
  line-height: 27.5px;
  display: inline-block;
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: left;
}
.rectangle-group {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 436px;
  left: 3px;
  width: 211px;
  height: 40px;
}
.social-media-feed-on-smartphon {
  position: absolute;
  top: 0;
  left: 491px;
  width: 574px;
  height: 557px;
  object-fit: cover;
}
.home {
  position: absolute;
  height: 15.67%;
  width: 73.96%;
  top: 3.66%;
  right: 12.99%;
  bottom: 80.68%;
  left: 13.06%;
  font-size: var(--h1-main-heading-size);
  font-family: var(--h1-main-heading);
}
.anti-net,
.home1 {
  position: absolute;
  line-height: 27.5px;
}
.anti-net {
  top: 3.45%;
  left: 0;
  font-size: var(--font-size-15xl);
}
.home1 {
  top: 0;
  left: 33.4%;
}
.about2,
.contact2,
.features2,
.loginregister {
  position: absolute;
  top: 0;
  left: 620px;
  line-height: 27.5px;
}
.about2,
.contact2,
.loginregister {
  left: 45.49%;
}
.contact2,
.loginregister {
  left: 72%;
}
.loginregister {
  left: 85.4%;
}
.desktop-1,
.navbar {
  text-align: left;
  color: var(--color-white);
}
.navbar {
  margin: 0;
  position: absolute;
  height: 0.82%;
  width: 74.65%;
  top: 1.55%;
  right: 12.15%;
  bottom: 97.64%;
  left: 13.19%;
  font-size: var(--font-size-5xl);
  font-family: var(--h1-main-heading);
}
.desktop-1 {
  width: 100%;
  position: relative;
  background-color: #010922;
  height: 3555px;
  overflow: hidden;
  font-size: var(--font-size-mini);
  font-family: var(--font-inter);
}